@model EventManager.WebApp.ViewModels.PerformerVM

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Performer</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bio)
        </dt>
        <dd class="col-sm-10">
            @(string.IsNullOrWhiteSpace(Model.Bio) ? "-" : Model.Bio)
        </dd>
    </dl>
</div>

<div class="form-group">
    <a asp-action="Edit" asp-route-id="@Model.Id" class="mt-3 btn btn-primary">Edit</a>
    <a asp-action="Index" class="mt-3 btn btn-outline-primary">Back to List</a>
</div>
