@model EventManager.WebApp.ViewModels.EventVM

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Event</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Capacity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Capacity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventTypeName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventTypeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedByEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedByEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageFileName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageFileName)
        </dd>
    </dl>
</div>

@* Displays performers assigned to this event. *@
<h4 class="mt-4">Performers</h4>

@if (Model.Performers.Any())
{
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Bio</th>
                </tr>
            </thead>
            <tbody>
            @foreach (var performer in Model.Performers)
            {
                <tr>
                    <td>@performer.Name</td>
                    <td>@(string.IsNullOrWhiteSpace(performer.Bio) ? "-" : performer.Bio)</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
}
else
{
    <div class="alert alert-info">No performers assigned to this event.</div>
}

<div class="form-group">
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="mt-3 btn btn-primary">Edit</a>
    <a asp-action="Index" class="mt-3 btn btn-outline-primary">Back to List</a>
</div>
